*{
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    margin: 0%;
    background-color: rgb(2, 0, 14);
}
.color_blue_text{
    color: #006fd6;
}
header{
    z-index: 2;
    padding: 200px;
    position: fixed;
    width: 100%;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.589);
}
#img_logo{
    width: 281px;
}
#img_logo:hover{
    padding: 0px 10px 0px 10px;
}
.nav{
    font-size: 1.4rem;
}
header ul li a{
    opacity: 50%;
}
header ul li a:hover{
    padding-bottom: 0.1rem;
    opacity: 100%;
    border-bottom: 2px groove white;
}
#sectionFirst{
    padding-top: 110px;
    background-color: rgb(27, 27, 34);
    padding-bottom: 200px;
}
section h1{
    font-size: 8rem;
}

#sectionFirst p{
    font-size: 3rem;
}
.piscando{
    animation: blinkCursor 900ms infinite;
}
@keyframes blinkCursor{
from{
    opacity:0 ;
}
to{
    opacity: 1;
}
}
#sectionAbout{
    border-top: 4px solid rgba(0, 0, 0, 0.356);
    background-color: rgb(27, 27, 34);
    padding-top: 180px;
    padding-bottom: 300px;
}
#minha_foto{
    padding: 0px;
    width: 400px;
}
#about_inside{
    padding-top: 120px;
}
#sectionProjects{
    padding-bottom: 300px;
}
#boxProject{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(0, 0, 0, 0.356) 0px 2px 6px 2px;
}